* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: #11111b;
  color: #b0b4bc;
  padding: 0px;
}

.music_art {
  background-size: cover;	
	background-position: center;
	min-height: 20px;
	min-width: 20px;
	border-radius: 100px;
  margin: 4px;
}

.system_bar_container {
  margin: 5px;
}

.system_bar {
  background-color: #000000;
  border-radius: 10px;
}

scale trough {
  all: unset;
  background-color: #22242b;
  border-radius: 16px;
  min-height: 8px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}

.volbar trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}
