
$base: rgb(25, 23, 36, 0.4);
$primary: rgb(235, 188, 186);
$muted: rgb(110, 106, 134);

#bar {
  padding: 1px 8px;
  background-color: $base;

  .workspaces {
    padding: 4px 0;

    .workspace {
      padding: 6px;
      min-height: 0px;
      min-width: 0px;


      background-color: $muted;
      border-radius: 999px;
      border: none;

      transition: all 0.3s ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.6);
      }

      &.active {
        background-color: $primary;
      }
    }
  }
}
